**Estrutura de Dados em Series**

***Series	=	vetor	de	dados	+	vetor	de	rótulos.***

#Criando um bloco de duas series uma com as notas de alguns alunos e outra com a matricula de cada

In [4]:
#P01:	Hello	Series!
import	pandas	as	pd
#cria	a	Series	notas
notas	=	pd.Series([7.6,	5.0,	8.5,	9.5,	6.4])
#cria	a	Series	alunos
lst_matriculas	=	['M02','M05','M13','M14','M19']
lst_nomes	=	['Bob','Dayse','Bill','Cris','Jimi']
alunos	=	pd.Series(lst_nomes,index=lst_matriculas)
#imprime	as	duas	Series
print(notas);	print("---------------");	print(alunos)

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64
---------------
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

#Diferença entre lista e dicionario.

lista = indices de posição precisam ser inteiros com uma sequencia ordenada de itens.                





Dicionario = não precisa ser so inteiro, pode ser também string e não existe um conceito de ordem.






*Elementos Basicos de uma Serie*

- dtype = corresponde ao tipo de elementos do vetor de dados 
- dtype é diferente de type()
- Type representa a classe desse objeto!

*Outras Propriedade elementares além do dtype*

- values	:	vetor	de	dados;
- index	:	vetor	de	rótulos;
- name	:	nome	do	vetor	de	dados;
- size	:	tamanho	da	Series	(número	de	elementos);
- index.name	:	nome	do	vetor	de	rótulos;
- index.dtype	:		dtype		do	vetor	de	rótulos.

In [3]:
#P02:	Propriedades	básicas	das	Series
import	pandas	as	pd
#cria	a	Series	"alunos"
alunos	=	pd.Series ({'M02':'Bob','M05':'Dayse','M13':'Bill','M14':'Cris','M19':'Jimi'})
#atribui	nomes	p/	os	vetores	de	dados	e	rótulos
alunos.name	=	"alunos"													
alunos.index.name	=	"matrículas"
#recupera	e	imprime	as	propriedades
print(alunos)
print('-----------')
tamanho	=	alunos.size																		
dados	=	alunos.values																
rotulos	=	alunos.index																	
alunos_tipo	=	type(alunos)													
alunos_dtype	=	alunos.dtype												
alunos_idx_dtype	=	alunos.index.dtype		
print('número	de	elementos:	',	tamanho)
print('vetor	de	dados:	',	dados)
print('vetor	de	rótulos:	',	rotulos)
print('tipo	(type):	',	alunos_tipo)
print('dtype	da	Series:',	alunos_dtype)
print('dtype	do	vetor	de	rótulos:',	alunos_idx_dtype)

matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object
-----------
número	de	elementos:	 5
vetor	de	dados:	 ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
vetor	de	rótulos:	 Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='matrículas')
tipo	(type):	 <class 'pandas.core.series.Series'>
dtype	da	Series: object
dtype	do	vetor	de	rótulos: object

**CONSULTA	 E MODIFICAÇÃO	DE	DADOS**

*indexação	tradicional*

- utilizada	 quando	 você quiser	 recuperar	 apenas	 um	 elemento	 da	 Series.

*fatiamento*

- utilizada	quando	você	quiser	recuperar	mais	de	um	elemento da	Series.
- Por	intervalos	(ranges)	definidos	por	dois	pontos		:	;
- Por	listas.

  *Sintaxe Explicação*
                    
                    
                    
                    
- s[i:j]	 do	elemento	de	índice		i		ao	de	índice		j-1	.
- s[i:]	 do	elemento	de	índice		i		até	o	último.
- s[:j]	 do	primeiro	elemento	ao	de	índice		j-1	.
- s[-k:]	 últimos		k		elementos.
- s[i:j:k]	 do	elemento		i		ao		j-1	,	utilizando	o	passo		k.	
- s[[lista]]	 todos	os	elementos	espec.ificados	na	lista.

*Diferença entre indexação e fatiamento*

- A	 indexação	 tradicional	 sempre	 retorna	 um	 único elemento,	 cujo	 tipo	 será	 o	 tipo	 básico	 Python correspondente	ao		dtype		do	vetor	de	dados.	Por	exemplo,
	alunos[0]		retorna	uma	string	(tipo	str)	e		notas[0]	,	um float.

- A	 operação	 de	fatiamento	 sempre	 retorna	 uma	 Series,	 ou seja,	um	objeto	do	tipo		pandas.core.series.Series	.

**indexação booleana**

In [2]:
#P03:	Indexação	booleana
import	pandas	as	pd
#cria	as	Series	"notas"	e	"alunos"
notas	=	pd.Series([7.6,	5.0,	8.5,	9.5,	6.4])
alunos	=	pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill','M14':'Cris','M19':'Jimi'})
#obtém	os	índices	dos	alunos	aprovados
idx_aprovados	=	notas[notas	>=	7].index

#imprime	os	alunos	aprovados
print('relação	de	alunos	aprovados:')
print('---------------------------')
print(alunos[idx_aprovados])

relação	de	alunos	aprovados:
---------------------------
M02     Bob
M13    Bill
M14    Cris
dtype: object

**Busca**

- verificar	 se	 determinados rótulos	ou	valores	estão	presentes	em	uma	Series

**Modificação**

- Função drop() , faz com que ele remova um aluno da lista original!

In [1]:
#P05:	Inserindo,	Alterando	e	Removendo	elementos	de	Series
import	pandas	as	pd
#cria	a	Series	"alunos"
alunos	=	pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill','M14':'Cris','M19':'Jimi'})
print('Series	original:')
print(alunos)
#insere	o	aluno	de	matrícula	M55,	Rakesh
alunos['M55']	=	'Rakesh'
#altera	os	nomes	Bill,	Cris	e	Jimi	para	Billy,	Cristy	e	Jimmy
alunos['M13']	=	'Billy'
alunos[['M14','M19']]	=	['Cristy','Jimmy']
#remove	o	aluno	de	matrícula	M02	(Bob)
alunos	=	alunos.drop('M02')
print('---------------------------')
print('Series	após	as	alterações:')
print(alunos)

Series	original:
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object
---------------------------
Series	após	as	alterações:
M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
dtype: object

**COMPUTAÇÃO	VETORIZADA**

- Utilizando da maneira tradicional

In [8]:
#P06:	Iteração
import pandas as pd
alunos = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill','M14':'Cris','M19':'Jimi'})
#itera	sobre	os	dados	(nomes	dos	alunos)
for	aluno	in	alunos:	print(aluno)
#itera	sobre	os	índices	(matrículas)
for	indice	in	alunos.index:	print(indice)

Bob
Dayse
Bill
Cris
Jimi
M02
M05
M13
M14
M19

- as	operações	são	realizadas	sobre	cada	elemento	da	Series automaticamente,	sem	a	necessidade	de	programar	um	laço	com	o comando		for.

**Operações utilizando o método pandas + numpy (Para utilização de somas)**

In [13]:
#P07:	Operações	aritméticas	com	computação	vetorizada
import	pandas	as	pd
import	numpy	as		np
#cria	as	Series	s1	e	s2
s1	=	pd.Series([2,4,6])
s2	=	pd.Series([1,3,5])
print('s1:');	print(s1)
print('s2:');	print(s2)
#efetua	as	operações	aritméticas
print('---------------------------')
print('s1	* 2')
print(s1	*	2)										
print('---------------------------')
print('s1	+	s2')
print(s1	+	s2)
print('---------------------------')
print('raiz	quadrada	dos	elementos	de	s1')
print(np.sqrt(s1))			#com	a	Numpy!

s1:
0    2
1    4
2    6
dtype: int64
s2:
0    1
1    3
2    5
dtype: int64
---------------------------
s1	* 2
0     4
1     8
2    12
dtype: int64
---------------------------
s1	+	s2
0     3
1     7
2    11
dtype: int64
---------------------------
raiz	quadrada	dos	elementos	de	s1
0    1.414214
1    2.000000
2    2.449490
dtype: float64

**Método NumPy**

- Envolve arrays(Vetores e Matrizes)

In [16]:
#P08:	o	valor	NaN
import	pandas	as	pd
verde	=	pd.Series({'BR':1,	'FR':	0,	'IT':1,	'UK':	0})
azul	=	pd.Series({'AR':1,	'BR':1,	'FR':	1,	'IT':0,	'UK':	1})
soma	=	verde	+	azul
print("soma:")
print(soma)
print('---------------------------')
print("isnull(soma):")
print(pd.isnull(soma))

soma:
AR    NaN
BR    2.0
FR    1.0
IT    1.0
UK    1.0
dtype: float64
---------------------------
isnull(soma):
AR     True
BR    False
FR    False
IT    False
UK    False
dtype: bool

**NaN**

- Marca valores nulos ou ausentes

**Método isnull()**

- recebe	 como	 entrada	 uma	 Series	 	s	,	 gerando	 como	 saída	 uma outra	Series	com		dtype	 	bool	,	 que	indica	 quais	dos	 rótulos	de s		 estão	 associados	 a	 valores	 nulos	 (	NaN	)

**DATETIME**

In [25]:
#P09:	Índices	datetime
import	pandas	as	pd		
#(1)-cria	a	série	temporal
dias	=	['10/02/2019',	'11/02/2019','12/02/2019','13/02/2019',
								'14/02/2019','15/02/2019']
temp_max	=	[31,35,34,28,27,27]
serie_temporal	=	pd.Series(temp_max,index=dias)
#(2)-converte	o	tipo	do	índice	para	datetime	e	imprime	a	série
serie_temporal.index	=	pd.to_datetime(serie_temporal.index,	
																																						format='%d/%m/%Y')
print(serie_temporal)

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64

**INDEXAÇÃO	HIERÁRQUICA**

- Conceito em forma de exemplo

In [1]:
#P10:	Índexação	hierárquica
import	pandas	as	pd
moedas		=	['Peso',	'Real',	'Euro',	'Euro',	'Libra']
paises	=	[['América','América','Europa','Europa','Europa'],
										['AR','BR','FR','IT','UK']]
paises	=	pd.Series(moedas,	index=paises)
print(paises)																				#imprime	toda	a	Series
print('----------------------')	
print(paises['América'])									#{AR:	Peso,	BR:Real}
print('----------------------')	
print(paises[:,'IT'])												#{Europa:	Euro}
print('----------------------')	
print(paises['Europa','IT'])					#Euro

América  AR     Peso
         BR     Real
Europa   FR     Euro
         IT     Euro
         UK    Libra
dtype: object
----------------------
AR    Peso
BR    Real
dtype: object
----------------------
Europa    Euro
dtype: object
----------------------
Euro

**DATAFRAME**

- utilizada	 para	 representar	 dados tabulares	em	memória,	isto	é,	dados	dispostos	em	linhas	e	colunas.
- 	dados	tabulares mais eficazes e rapidos.

In [3]:
#Exemplo

In [7]:
#P11:	Hello	DataFrame!
import pandas as pd
#cria	o	DataFrame.
dados = {'nome':['Argentina','Brasil', 'França','Italia','Reino Unido'],'continente':['América','América','Europa','Europa','Europa'],'Extensão':[2780,8511,644,301,244],'corVerde':[0,1,0,1,0]}
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

#imprime siglas

print(paises)

           nome continente  Extensão  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Italia     Europa       301         1
UK  Reino Unido     Europa       244         0

*Propriedades basicas do dataframe:*

- shape	:	formato	do	DataFrame,	ou	seja,	o	seu	número	de
- linhas	(	shape[0]	)	e	de	colunas	(	shape[1]	);
- index	:	lista	com	os	rótulos	das	linhas;
- columns	:	lista	com	os	rótulos	das	colunas;
- dtypes	:	 retorna	 uma	 Series	 com	 os	 	dtypes		 de	 cada coluna;
- index.dtype	:		dtype		dos	rótulos	das	linhas.

In [11]:
#P11:	Hello	DataFrame!
import pandas as pd
#cria	o	DataFrame.
dados = {'nome':['Argentina','Brasil', 'França','Italia','Reino Unido'],'continente':['América','América','Europa','Europa','Europa'],'Extensão':[2780,8511,644,301,244],'corVerde':[0,1,0,1,0]}
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

#imprime siglas

print(paises)
#recupera	e	imprime	as	propriedades	
print('-----------')
num_linhas	=	paises.shape[0] #Número de linhas.
num_colunas	=	paises.shape[1] #Número de colunas.
indices	=	paises.index #indexação de linha.
colunas	=	paises.columns #indexação de coluna.
paises_tipo	=	type(paises)													
paises_dtypes	=	paises.dtypes
paises_idx_dtype	=	paises.index.dtype		
print('número	de	linhas:	',	num_linhas)
print('número	de	colunas:	',	num_colunas)
print('rótulos	das	linhas:	',	indices)
print('rótulos	das	colunas:	',	colunas)
print('tipo	(type):	',paises_tipo)
print('dtypes	das	colunas:\n',	paises_dtypes)
print('dtype	dos	rótulos	das	linhas:',	paises_idx_dtype)

           nome continente  Extensão  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Italia     Europa       301         1
UK  Reino Unido     Europa       244         0
-----------
número	de	linhas:	 5
número	de	colunas:	 4
rótulos	das	linhas:	 Index(['AR', 'BR', 'FR', 'IT', 'UK'], dtype='object')
rótulos	das	colunas:	 Index(['nome', 'continente', 'Extensão', 'corVerde'], dtype='object')
tipo	(type):	 <class 'pandas.core.frame.DataFrame'>
dtypes	das	colunas:
 nome          object
continente    object
Extensão       int64
corVerde       int64
dtype: object
dtype	dos	rótulos	das	linhas: object

**Método Busca**
- Como	verificar	se	um	determinado	rótulo	de	linha	ou	coluna existe	em	um	DataFrame;
-	 Como	 verificar	 se	 um	 determinado	 valor	 está	 armazenado em	alguma	coluna	do	DataFrame.

- Se	 você	 quiser	 testar	 se	 um	 valor	 está	 armazenado	 em	 uma coluna,	precisará	utilizar	o	método		isin()

In [15]:
#P13:	Busca	em	DataFrames
import	pandas	as	pd
#cria	o	DataFrame
dados	=	{'nome':	['Argentina','Brasil','França','Itália',
																		'Reino	Unido'],
									'continente':	['América','América','Europa','Europa',
																								'Europa'],
									'extensao':	[2780,8511,644,301,244],
									'corVerde':	[0,1,0,1,0]}
siglas	=	['AR','BR','FR','IT','UK']
paises	=	pd.DataFrame(dados,index=siglas)
#testa	se	um	dado	rótulo	de	linha	existe
tem_BR	=	'BR' in	paises.index
tem_US	=	'US' in	paises.index
print("existe	o	rótulo	'BR?	->	",tem_BR)								
print("existe	o	rótulo	'US'?	->	",tem_US)								
print('---------------------------')
#testa	se	um	dado	rótulo	de	coluna	existe
tem_corVerde	=	'corVerde' in	paises.columns
tem_corAzul	=	'corAzul' in	paises.columns
print("existe	o	rótulo	'corVerde?	->	",tem_corVerde)								
print("existe	o	rótulo	'corAzul'?	->	",tem_corAzul)
print('---------------------------')
#testa	se	valor	faz	parte	de	uma	coluna
tem_Brasil	=	paises['nome'].isin(['Brasil'])
print("existe	o	valor	'Brasil'	na	coluna	'nome'?")						
print(tem_Brasil)

existe	o	rótulo	'BR?	->	 True
existe	o	rótulo	'US'?	->	 False
---------------------------
existe	o	rótulo	'corVerde?	->	 True
existe	o	rótulo	'corAzul'?	->	 False
---------------------------
existe	o	valor	'Brasil'	na	coluna	'nome'?
AR    False
BR     True
FR    False
IT    False
UK    False
Name: nome, dtype: bool

**Modificando em DataFrame**

In [16]:
#P14:	Modificação	de	DataFrame
import	pandas	as	pd
#cria	o	DataFrame
dados	=	{'nome':	['Argentina','Brasil','França','Itália',
																		'Reino	Unido'],
									'continente':	['América','América','Europa','Europa',
																								'Europa'],
									'extensao':	[2780,8511,644,301,244],
									'corVerde':	[0,1,0,1,0]}
siglas	=	['AR','BR','FR','IT','UK']
paises	=	pd.DataFrame(dados,index=siglas)
#insere	o	país	Japão	(JP)
paises.loc['JP']=	{'nome':	'Japão',	
						'continente':	'Ásia',	
						'extensao':	372,
						'corVerde':	0}
#altera	a	extensão	do	Brasil
paises.at['BR','extensao']=8512
#remove	a	Argentina	e	o	Reino	Unido
paises	=	paises.drop(['AR','UK'])
print('DataFrame	após	as	alterações:')
print(paises)

DataFrame	após	as	alterações:
      nome continente  extensao  corVerde
BR  Brasil    América      8512         1
FR  França     Europa       644         0
IT  Itália     Europa       301         1
JP   Japão       Ásia       372         0